<nav class="navbar">
    <div class="navbar-brand">
        <a href="/">Simple Site Monitor</a>
    </div>
    <button class="navbar-toggle" id="navbarToggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="navbar-menu" id="navbarMenu">
        <ul class="navbar-items">
            <li class="navbar-item"><a href="/">Montioring</a></li>
            <li class="navbar-item"><a href="/sites">Sites</a></li>
            <li class="navbar-item"><a href="/settings">Settings</a></li>
            <li class="navbar-item"><a href="https://github.com/DarthTigerson/Simple-Site-Monitor" target="_blank">GitHub</a></li>
        </ul>
    </div>
</nav>
